* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Hanken Grotesk', sans-serif;
}
.body {
}
.main1 {
    height:1000px;
    width:1000px;
    border:1px solid;
    
}
.main2 {
    position:absolute;
    top: 200px;
    left:100px;
    height:500px;
    width:750px;
}
.whitebox_container {
    background-color: white;
    height:500px;
    width:750px;
    border:1px solid;
    border-radius:35px;
    display:flex;
    flex-direction: row;
}
.purplebox {
    display:flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    height:500px;
    width:375px;
    border:1px solid;
    border-radius:35px;
}
.purple_inside {
    width:300px;
    height:430px;
    border:1px solid;
}
.purple_result {
    display:flex;
    justify-content: center;
    align-items: center;
    height:60px;
    width:300px;
    border:1px solid;
   
}
.purple_circle_box {
    height:230px;
    width:300px;
    border:1px solid;
}
.purple_great {
    display:flex;
    justify-content: center;
    align-items: center;
    height:60px;
    width:300px;
    border:1px solid;
}
.purple_info {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:80px;
    width:300px;
    border:1px solid;
}
.whitebox {
    width:375px;
    height:500px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.white_inside {
    width:300px;
    height:430px;
    border:1px solid;

}










