* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Hanken Grotesk', sans-serif;
}
.body {
    width:1440px;
    height:1100px;
}
.main1 {
    height:600px;
    width:800px;
    
}
.main2 {
    position:absolute;
    top: 280px;
    left:350px;
    height:500px;
    width:750px;
    box-shadow: 10px 10px 19px 0px rgba(67, 20, 98, 0.28);
    border-radius:30px;
}
.whitebox_container {
    background-color: white;
    height:500px;
    width:750px;
    border-radius:35px;
    display:flex;
    flex-direction: row;
}
.purplebox {
    display:flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    height:500px;
    width:375px;
    border-radius:35px;
}
.purple_inside {
    width:300px;
    height:430px;
}
.purple_result {
    display:flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width:300px;
    color:hsl(241, 100%, 89%);
}
.purple_circle_box {
    height:250px;
    width:300px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.circle {
    height:200px;
    width:200px;
    border-radius: 100px;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    display:flex;
    justify-content: center;
    align-items: center;
}
.inside_circle_box {
    
    height:100px;
    width:100px;
    display:flex;
    flex-direction: column;
}
.big_number {
    width:100px;
    height:75px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:4.2rem;
    font-weight: 800;
    color:#ffffff;

}
.small_number {
    color:hsl(241, 100%, 89%);
    width:100px;
    height:25px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.purple_great {
    display:flex;
    justify-content: center;
    align-items: center;
    height:60px;
    width:300px;
    color:#ffffff;
}
.purple_info {
    text-align: center;
    height:80px;
    width:300px;
    color:hsl(241, 100%, 89%);
    font-size:1.1rem;
    padding:0 25px 0 25px;
    
}
.whitebox {
    width:375px;
    height:500px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.white_inside {
    width:300px;
    height:430px;
    
}
.summary {
    height:50px;
    width:300px;
    color:hsl(224, 30%, 27%);
}
.little_box_box {
    width:300px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.red {
    width:100%;
    height:50px;
    background-color: #FFF6F5;
    border-radius:10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.content {
    height:30px;
    width:275px;
    display:flex;
    flex-direction: row;
}
.logo {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:30px;
}
.name {
    color:hsl(0, 100%, 67%);
    font-size:1.1rem;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height:100%;
    width:150px;
}
.first_number {
    color:;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:40px;
}
.second_number {
    color:hsl(224, 30%, 27%);
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height:100%;
    width:55px;
}
.memory {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:50px;
    background-color: #FFFBF2;
    border-radius:10px;
}
.verbal {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:50px;
    background-color: #F2FBFA;
    border-radius:10px;
}
.visual {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:50px;
    background-color: #F3F3FD;
    border-radius:10px;
}
.continue {
    height:80px;
    width:300px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.continue_btn {
    height:60px;
    width:300px;
    background-color:hsl(224, 30%, 27%);
    border-radius:30px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.continue_text {
    color:white;
}
.memory .content .name {
    color:hsl(39, 100%, 56%);
}
.verbal .content .name {
    color:hsl(166, 100%, 37%);
}
.visual .content .name {
    color:hsl(234, 85%, 45%);
}










